[Unit]
Description=Systemd user session instance for %I
Documentation=man:systemd
Conflicts=getty@tty5.service

[Service]
User=%I
PAMName=login
ControlGroup=%R/user/%u/shared cpu:/ memory:/
ControlGroupModify=yes
Type=notify
Restart=always
TTYPath=/dev/tty5
ExecStart=/usr/lib/systemd/systemd-user-startup

[Install]
WantedBy=multi-user.target
